/* CSS declarations go here */
/* line 4, ../style/sass/main.scss */
.word {
  background-color: #ffffff;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #ffffff), color-stop(80%, #fff9f9), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(#ffffff 20%, #fff9f9 80%, #ffffff 100%);
  background: -moz-linear-gradient(#ffffff 20%, #fff9f9 80%, #ffffff 100%);
  background: -o-linear-gradient(#ffffff 20%, #fff9f9 80%, #ffffff 100%);
  background: linear-gradient(#ffffff 20%, #fff9f9 80%, #ffffff 100%);
  border: 2px solid;
  border-color: #666 #333 #333 #666;
  cursor: pointer;
  display: inline-block;
  font-size: 32px;
  padding: 15px;
  position: absolute;
  white-space: nowrap;
  border-radius: 3px;
  -webkit-transition-property: box-shadow, margin, -webkit-transform;
  -moz-transition-property: box-shadow, margin, -moz-transform;
  -o-transition-property: box-shadow, margin, -o-transform;
  transition-property: box-shadow, margin, transform;
  -webkit-transition-duration: 0.15s, 0.15s, 0.15s;
  -moz-transition-duration: 0.15s, 0.15s, 0.15s;
  -o-transition-duration: 0.15s, 0.15s, 0.15s;
  transition-duration: 0.15s, 0.15s, 0.15s;
  -webkit-transform-origin: 0 25% 0 50%;
  -moz-transform-origin: 0 25% 0 50%;
  -ms-transform-origin: 0 25% 0 50%;
  -o-transform-origin: 0 25% 0 50%;
  transform-origin: 0 25% 0 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px, white 0 0 4px 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px, white 0 0 4px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px, white 0 0 4px 0 inset;
}
/* line 29, ../style/sass/main.scss */
.word.ui-draggable-dragging, .word:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 12px 12px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 12px 12px 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 12px 12px 4px;
  z-index: 1;
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  transform: rotate(1deg);
}

/* line 37, ../style/sass/main.scss */
.word-delete {
  display: none;
  font-size: 20px;
  color: #ee0000;
  font-family: Helvetica;
  position: absolute;
  top: 0;
  right: 5px;
}
/* line 46, ../style/sass/main.scss */
.word:hover .word-delete {
  display: block;
}

/* line 51, ../style/sass/main.scss */
#words {
  height: 50px;
  font-size: 40px;
  width: 200px;
}

/* line 57, ../style/sass/main.scss */
.ui-helper-hidden-accessible {
  display: none;
}

/* line 61, ../style/sass/main.scss */
body {
  background-color: #fef0e0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#canvas {
  position: relative;
  top: 0;
  left: 0;
}

#controls {
  z-index: 99999999;
  background: #fff;
  padding: 1em;
  position: relative;
  text-align: center;
  width: 300px;
}

  #up {
    position: absolute;
    top: 0;
    left: 50%;
  }

  #down {
    position: absolute;
    bottom: 0;
    left: 50%;
  }
  
  #left {
    position: absolute;
    top: 50%;
    left: 0%;
  }

  #right {
    position: absolute;
    top: 50%;
    right: 0;
  }

#users {
  position: fixed;
  right: 5px;
  top: 5px;
}
.participant {
  width: 50px;
  float: left;
  height: 50px;
  margin: 10px;
}
