@import "compass/css3";

/* CSS declarations go here */
.word {
  background-color: #ffffff;
  @include background(
    linear-gradient(#fff 20%, #fff9f9 80%, #fff 100%)
  );
  border: 2px solid;
  border-color: #666 #333 #333 #666;
  cursor: pointer;
  display: inline-block;
  font-size: 40px;
  padding: 15px;
  position: absolute;
  white-space: nowrap;
  border-radius: 3px;

  @include transition-property(box-shadow, margin, transform);
  @include transition-duration(.15s, .15s, .15s);

  @include box-shadow(
    rgba(black, .4) 1px 1px 1px,
    white 0 0 4px 0 inset
  );

  &.ui-draggable-dragging,
  &:active {
    // Make it look like it has moved forward
    margin-top: -2px;
    margin-left: -2px;
    @include box-shadow(rgba(black, .2) 12px 12px 4px);
    z-index: 1;
    @include rotate(-5deg);
  }
}

.delete {
  font-size: 20px;
  color: #ee0000;
  font-family: Helvetica;
  position: absolute;
  top: 0;
  right: 5px;
}

#words {
  height: 50px;
  font-size: 40px;
  width: 200px;
}

.ui-helper-hidden-accessible {
  display: none;
}

body {
  background-color: #fef0e0;
}

